.proyecto-nuevo {
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


.yacimineto-proyecto{
    width: 50%;
    padding-top: 15px;
    align-items: center;
    height: 30px;
    margin-bottom: 50px;
}

.modif-pro-nomnre{
    font-size:25px;
    text-align:center;
    
}
